@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap");
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-size: 14px;
    font-family: "Lato";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "Lato";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button:-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

 :root {
    font-size: 10px;
}

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
@mixin h2 {
    font: {
        family: Georgia;
        size: 4.4rem;
        weight: 400;
    }
    line-height: 130%;
}

@mixin h3 {
    font: {
        family: Georgia;
        size: 3.5rem;
        weight: normal;
    }
    line-height: 130%;
    letter-spacing: 0.21rem;
}

@mixin h3-mobile {
    font: {
        family: Georgia;
        weight: normal;
        size: 2.5rem;
    }
    line-height: 130%;
    letter-spacing: 0.15rem;
    color: $color-dark-l;
}

@mixin h4 {
    font: {
        family: Georgia;
        size: 2rem;
        weight: normal;
    }
    line-height: 115%;
    letter-spacing: 0.12rem;
}

@mixin h5 {
    font: {
        family: Georgia;
        size: 1.5rem;
        weight: normal;
    }
    line-height: 110%;
    letter-spacing: 0.09rem;
}

@mixin h5-modal-window {
    font: {
        family: Georgia;
        size: 1.5rem;
        weight: bold;
    }
    line-height: 110%;
    letter-spacing: 0.06rem;
}

@mixin paragraph-l {
    font: {
        family: Arial;
        size: 1.5rem;
        weight: normal;
    }
    line-height: 160%;
}

@mixin paragraph-s {
    font: {
        family: Arial;
        size: 1.2rem;
        weight: normal;
        style: italic;
    }
    line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Georgia;
        size: 3.2rem;
        weight: normal;
    }
    line-height: 110%;
    letter-spacing: 0.192rem;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        size: 1.3rem;
        weight: normal;
    }
    letter-spacing: 0.13rem;
    line-height: 110%;
}

@mixin slider-arrow {
    border-radius: 50%;
    padding: 2.3rem 1.9rem;
    border: 3px solid $color-primary;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 5.2rem;
    max-width: 5.2rem;
    margin-top: 6rem;
    &:hover {
        background-color: $color-primary-light;
        border: 3px solid $color-primary-light;
    }
}

main {
    display: flex;
    flex-direction: column;
}

.slider-controls {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 120rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
}

.header {
    width: 100%;
    position: absolute;
    top: 6rem;
}

.logo {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &__title {
        color: $color-primary;
        @include logo_title;
    }
    &__text {
        color: $color-light-xl;
        margin-top: 1.1rem;
        text-align: center;
        @include logo_subtitle;
    }
}

.menu {
    display: flex;
    width: 44.3rem;
}

.menu__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &__item {
        display: flex;
        align-items: center;
    }
    &__link {
        font-family: Arial;
        font-size: 1.5rem;
        line-height: 160%;
        color: $color-light-xl;
        font-weight: 400;
        cursor: pointer;
        &:hover {
            color: #FFFFFF;
        }
        &_active {
            border-bottom: solid 3px #F1CDB3;
        }
        &_disabled {
            color: $color-dark-s;
        }
    }
}

// Hide menu for displays more than 768px
.hidden-menu {
    display: none;
}

#hmt {
    display: none;
}

.hero__background {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero {
    display: flex;
    padding-top: 18rem;
    width: 100%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8rem;
    width: 46rem;
    align-items: center;
    &__title {
        color: $color-light-xl;
        max-width: 31rem;
        align-self: start;
        @include h2
    }
    &__subtitle {
        color: $color-dark-s;
        margin-top: 4.2rem;
        @include paragraph-l;
    }
    &__button {
        padding: 1.5rem 4.5rem;
        width: 20.7rem;
        border-radius: 10rem;
        background-color: $color-primary;
        margin-top: 4.2rem;
        font-family: Georgia;
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
        &:hover {
            background-color: $color-primary-light;
        }
    }
}

.hero__img-wrapper {
    display: flex;
}

.hero__img {
    width: 100%;
    max-width: 69.8rem;
    max-height: 72.8rem;
}

.about {
    display: flex;
    padding: 8rem 17.5rem 10rem 17.5rem;
    width: 100%;
    & .wrapper {
        justify-content: space-around;
    }
}

.about-img {
    margin-right: 1rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    max-width: 43rem;
    justify-content: center;
    margin-left: 3rem;
    &__title {
        @include h3;
        color: $color-dark-l;
        width: 37rem;
    }
    &__discription {
        @include paragraph-l;
        color: $color-dark-xl;
        p {
            margin-top: 2.5rem;
        }
    }
}

.pets {
    padding: 8rem 0 10rem 0;
    background-color: $color-light-l;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        @include h3;
        text-align: center;
        max-width: 40rem;
        span {
            display: block;
        }
    }
    &__content {
        width: 120rem;
        align-items: center;
        .slider-button {
            @include slider-arrow;
            margin-right: 5.3rem;
        }
        .slider-button_reverse {
            @include slider-arrow;
            transform: rotate(180deg);
        }
    }
    .pets__button {
        border: 2px solid $color-primary;
        padding: 1.5rem;
        font-family: Georgia;
        color: $color-dark-3xl;
        font-weight: normal;
        font-size: 1.7rem;
        line-height: 110%;
        letter-spacing: 0.102rem;
        border-radius: 10rem;
        background: $color-primary;
        margin-top: 6rem;
        width: 26.1rem;
        &:hover {
            background-color: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
    }
}

.pets__card {
    background-color: $color-light-l;
    display: flex;
    width: 1200px;
    gap: 10rem;
    &-content {
        display: flex;
        width: 100%;
        margin-top: 6rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $color-light-xl;
        border-radius: 1rem;
        cursor: pointer;
        &:hover {
            -webkit-box-shadow: -1px -7px 46px -30px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px -7px 46px -30px rgba(0, 0, 0, 0.75);
            box-shadow: -1px -7px 46px -30px rgba(0, 0, 0, 0.75);
        }
    }
    &-name {
        font-family: Georgia;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2.3rem;
        letter-spacing: 0.15rem;
        margin: 3rem 0;
    }
    &-button {
        border: 2px solid $color-primary;
        padding: 1.3rem 0;
        font-family: Georgia;
        color: $color-dark-3xl;
        font-weight: normal;
        font-size: 1.7rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        border-radius: 10rem;
        background: none;
        margin-bottom: 3rem;
        width: 18.7rem;
        &:hover {
            background-color: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
    }
    &-img {
        img {
            padding-top: 2rem;
        }
    }
}

.slider-button-mobile {
    display: none;
}

.help-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .help-title {
        @include h3;
        max-width: 32rem;
        text-align: center;
        padding: 8rem 0 6rem 0;
    }
    .help-content {
        display: flex;
        gap: 5.5rem 12rem;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-height: 28.1rem;
        margin-bottom: 10rem;
        .help-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__name {
                @include h4;
                padding-top: 3rem;
            }
        }
    }
}

.donations {
    display: flex;
    width: 100%;
    padding: 8rem 4rem 10rem 4rem;
    background-color: $color-light-l;
    .donations-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .donations-content {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
        &__title {
            @include h3;
            max-width: 30rem;
        }
        &__discription {
            display: flex;
            flex-direction: column;
            &__title {
                @include h5;
                margin: 2rem 0;
            }
            .donation-card-number {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                padding: 1rem 0 1rem 1.5rem;
                background-color: $color-primary;
                border-radius: 0.9rem;
                max-width: 34.9rem;
                @include h4;
                &:hover {
                    background-color: $color-primary-light;
                }
                h4 {
                    padding-left: 1.5rem;
                    color: $color-dark-l;
                }
            }
        }
        &__paragraph {
            font-family: Arial;
            font-style: italic;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: $color-dark-m;
            max-width: 38rem;
        }
    }
}

footer {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    padding-top: 4rem;
    .footer-content {
        display: flex;
        gap: 14rem;
        width: 100%;
    }
    .footer-contacts {
        display: flex;
        flex-direction: column;
        padding-top: 1.7rem;
        &__title {
            @include h3;
            color: $color-light-xl;
            max-width: 30rem;
        }
        &__email {
            a {
                color: $color-primary;
            }
            @include h4;
            display: flex;
            align-items: center;
            margin-top: 3.9rem;
            h4 {
                padding-left: 2rem;
            }
        }
    }
    .footer-location {
        display: flex;
        flex-direction: column;
        padding-top: 1.7rem;
        &__title {
            @include h3;
            color: $color-light-xl;
            max-width: 27.8rem;
        }
        &__adress {
            a {
                color: $color-primary;
            }
            @include h4;
            display: flex;
            align-items: center;
            color: $color-primary;
            max-width: 31.2rem;
            margin: 3.2rem 0 3.2rem 0;
            h4 {
                padding-left: 2rem;
            }
        }
    }
    .footer-image {
        margin-left: 1rem;
    }
}

@media (max-width: 1279px) {
    .header {
        top: 3rem;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .hero__content__button {
        align-self: center;
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 3rem 0 3rem;
    }
    .about-wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 8rem;
    }
    .help-wrapper .help-content {
        gap: 5.5rem 6rem;
        max-height: none;
    }
    .help-card {
        width: 17rem;
    }
    .donations-wrapper {
        flex-direction: column-reverse;
        gap: 6rem;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6.5rem;
        .footer-contacts {
            flex-direction: column;
        }
        .footer-location {
            flex-direction: column;
            margin-left: 3rem;
        }
        .footer-content {
            display: flex;
            gap: 0 3rem;
            justify-content: center;
        }
    }
}

@media (max-width: 965px) {
    .pets {
        &__content {
            .slider-button {
                display: none;
            }
            .slider-button_reverse {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        top: 3rem;
    }
    .wrapper {
        max-width: 32rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }
    .logo {
        align-self: start;
    }
    .mobile-screen {
        display: none!important;
    }
    .menu__list {
        display: none;
    }
    .hero__content__button {
        align-self: center;
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    // Burger menu 
    .hidden-menu {
        display: block;
        position: fixed;
        list-style: none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        background-color: $color-dark-3xl;
        height: 100%;
        top: 10rem;
        right: -100%;
        transition: right .2s;
        z-index: 2;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        a {
            @include h3-mobile;
            color: $color-dark-s;
            cursor: pointer;
            &:hover {
                color: $color-light-s;
            }
        }
    }
    .hidden-menu-ticker {
        display: none;
    }
    .menu__list__item__mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
    }
    .btn-menu {
        color: #fff;
        background-color: #666;
        padding: 5px;
        position: fixed;
        top: 5rem;
        right: 7rem;
        cursor: pointer;
        transition: right .23s;
        z-index: 3;
        width: 40px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .btn-menu span {
        display: block;
        height: 4px;
        background-color: #fff;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }
    .btn-menu span.first {
        margin-top: 0;
    }
    .hidden-menu-ticker:checked~.btn-menu {
        right: 1rem;
        top: 1rem;
    }
    .hidden-menu-ticker:checked~.hidden-menu {
        right: 0;
    }
    .hidden-menu-ticker:checked~.btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 10px;
    }
    .hidden-menu-ticker:checked~.btn-menu span.second {
        opacity: 0;
    }
    .hidden-menu-ticker:checked~.btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -10px;
    }
    .hero__content {
        width: 30rem;
    }
    .hero__content__title {
        @include h3-mobile;
        text-align: center;
        align-self: center;
        color: $color-light-xl;
        span {
            display: block;
        }
    }
    .hero__content__subtitle {
        width: 30rem;
        text-align: center;
        span {
            display: block;
        }
    }
    .about {
        padding: 4.2rem 0;
        .about-wrapper {
            display: flex;
            flex-direction: column-reverse;
        }
        .about-content {
            margin-left: 0;
            padding: 0 1.5rem;
            &__title {
                @include h3-mobile;
                width: auto;
                span {
                    display: block;
                }
                text-align: center;
            }
            &__discription {
                text-align: justify;
            }
        }
    }
    .pets {
        padding: 4.2rem 0;
        &__title {
            @include h3-mobile;
        }
        &__content {
            .slider-button {
                display: none;
            }
            .slider-button_reverse {
                display: none;
            }
        }
        .pets__button {
            margin-top: 4.2rem;
        }
    }
    .help {
        .help-wrapper {
            .help-title {
                @include h3-mobile;
                padding: 4.2rem 0;
                span {
                    display: block;
                }
            }
            .help-content {
                gap: 3rem;
                justify-content: start;
                margin-bottom: 4.2rem;
                .help-card {
                    width: 13rem;
                    &__name {
                        text-align: center;
                    }
                }
            }
        }
    }
    .donations {
        padding: 4.2rem 0;
        .donations-content {
            margin-left: 0;
            &__title {
                @include h3-mobile;
                max-width: 30rem;
                text-align: center;
                span {
                    display: block;
                }
            }
            .donations-content__discription__title {
                @include paragraph-l;
                color: $color-dark-l;
                letter-spacing: 0;
                text-align: center;
            }
            .donations-content__paragraph {
                text-align: justify;
                padding: 0 1rem;
            }
        }
        .donations-content__discription .donation-card-number {
            max-width: 28.1rem;
            @include h5;
            align-self: center;
            padding-right: 1.5rem;
        }
        .donations-img {
            img {
                width: 26rem;
            }
            display: flex;
            justify-content: center;
            padding: 0 3rem;
        }
    }
    .footer-wrapper {
        padding: 3rem 0 0 0;
        gap: 4rem;
        .footer-contacts {
            padding: 0;
            &__title {
                text-align: center;
                @include h3-mobile;
                color: $color-light-xl;
                span {
                    display: block
                }
            }
            &__email {
                justify-content: center;
            }
        }
        .footer-location {
            margin-left: 0rem;
            padding-top: 4rem;
        }
        .footer-content {
            display: flex;
            flex-direction: column;
        }
    }
}

// styles for modal window
.modal {
    width: 90rem;
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid $color-light-s;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
    background: none;
    font-size: 5rem;
    position: relative;
    top: -14rem;
    right: -25rem;
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

#pet-modal-img {
    height: 50rem;
}

.modal__content {
    &__title {
        @include h3;
    }
    &__subtitle {
        @include h4;
        margin-top: 1rem;
    }
    &__paragraph {
        @include h5;
        margin-top: 2rem;
        span {
            display: block;
        }
        max-width: 35rem;
        text-align: left;
    }
    &__list {
        span {
            @include h5-modal-window;
        }
        @include h5;
        margin-top: 2rem;
        &__item {
            margin-top: 0.5rem;
        }
    }
}

@media (max-width: 1279px) {
    .modal__image {
        img {
            width: 35rem;
            height: 35rem;
        }
    }
    .modal__content {
        &__paragraph {
            font-size: 1.3rem;
            max-width: 26rem;
        }
    }
    #pet-modal-img {
        height: 27rem;
        width: 27rem;
    }
}

@media (max-width: 767px) {
    .modal {
        display: flex;
        justify-content: center;
    }
    .modal-wrapper {
        text-align: center;
        max-width: 27.1rem;
    }
    .modal__image {
        display: none;
    }
}